:root{
    --smaller-font: 0.7rem;
    --font-size: 0.9rem;
    --margin: 1rem;
    --padding: 1rem;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    min-height: 100vh;
    background: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.image-sidebar{
    width: 29%;
    background-image: 
    url(https://images.unsplash.com/photo-1504215680853-026ed2a45def?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    position: relative;
}

.image-sidebar img{
    width: 100%;
    padding-top: 3rem;
}

.image-sidebar .credits{
    width: 70%;
    height: 10%;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    color: #fff;
}

.credits{
    background: #000;
    opacity: 0.5;
    padding: 0.6rem;
    padding-top: var(--padding);
    border: 1px solid #b4b0b0;
    border-radius: 15px;
    font-size: var(--smaller-font);
    text-align: center;
}

.form-container{
    background: linear-gradient(to right,#e8b717, #894e07 );
    width: 40%;
}

.form-title{
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--padding);
    font-size: var(--font-size);
}

.form{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size);
}

.form-header{
    font-size: var(--font-size);
    text-decoration: overline;
    margin-bottom: var(--margin);
}

.form > div{
    margin-right: var(--margin);
    margin-bottom: var(--margin);
}

.form > div > label{
    font-size: 0.7rem;
}

.submitBtn{
    width: 6rem;
    padding: 0.3rem;
    background: linear-gradient(to right, #e3ce88, #894e07);
    border-radius: 10px;
    font-weight: 700;
}

.submitBtn:hover{
    cursor: pointer;
    scale: 1.01;
}

.login{
    font-size: var(--smaller-font);
    margin: var(--margin);
}